[mysqld]
server-id=1 # id сервера для идентификации
log-bin     # способ хранения информации об изменении на master
# Параметры, уже присутствующие в MySQL после установки
# Файл, в который будут записаны id процессов, созданных СУБД
pid-file    = /var/run/mysqld/mysqld.pid
# Файл через который осуществляется сокетное (TCP) соединение меж-ду серверами СУБД или клиентским терминалом 
socket     = /var/run/mysqld/mysqld.sock
# Директория, где хранятся все базы данных и данные внутри них
datadir     = /var/lib/mysql
# Параметр определяет, из какой директории можно свободно скачи-вать данные БД (в данном случае скачивать вообще нельзя)
secure-file-priv = NULL

replicate-do-table=med.organizations
binlog-do-db=med